.form1 form{
    border: 2px solid black;
   width: 250px;
   margin:auto;
   border-radius: 5%;
   padding: 20px;
   background-color: rgb(178, 178, 178);


}       
.form1 label{
    display: block;
    padding-bottom: 8px;
    margin-top: 8px;
       font-family: Arial, Helvetica, sans-serif;
}
.form1 input{
    width: 100%;
    
}
.form1 input[type="submit"]{
    background-color: rgb(255, 0, 115);
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
}
    
.form1 input:hover[type="submit"]{
    background-color: rgb(250, 47, 175);
    cursor: pointer;
}
    
.form2 form{
        border: 2px solid black;
   width: 250px;
   margin:auto;
   border-radius: 5%;
   padding: 20px;
   background-color: antiquewhite;
    margin-top: 10px;


}
.form2 label{
    display: block;
    padding-bottom: 8px;
    margin-top: 8px;
       font-family: Arial, Helvetica, sans-serif;
}
.form2 input:hover[type="submit"]{
    background-color: rgb(47, 250, 240);
    cursor: pointer;
}
.form2 input[type="submit"]{
    background-color: rgb(52, 139, 139);
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
}
.form2 input{
    width: 100%;
    
}

